-f https://download.pytorch.org/whl/torch_stable.html
pytz
torch==1.7.1+cu110 
torchvision==0.8.2+cu110 
torchaudio==0.7.2
boto3
scipy
hydra-core==0.11.3
tensorboard
xxhash
cachetools
pillow
matplotlib
graphviz
gpytorch==1.4.2
botorch
git+https://github.com/gbaydin/hypergradient-descent.git